/* ------ CHECKOUT PAGE ------ */
.checkout-page {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  row-gap: 50px;
}

.checkout-page form {
  padding-top: 50px;
}

form .input input,
select {
  width: 100%;
}

.input input[type="text"],
input[type="email"],
input[type="tel"],
select option,
#fname,
#lname,
#pnumber,
#city,
#expire,
#security-code {
  border: 1px solid #333;
  padding-left: 20px;
  outline: none;
}
.input {
  display: flex;
}

.input2 {
  display: flex;
  flex-direction: row;
}

#finame,
#lname,
#pnumber,
#city,
#expire,
#security-code {
  outline: none;
}

.pay h3,
.ship h3 {
  padding-bottom: 20px;
}

.cardform {
  background-color: #fff;
  border-bottom: 1px solid #333;
}

#card-info {
  display: none;
  padding: 0px 50px 50px 50px;
}

#card-info form {
  padding-top: 0;
  padding-bottom: 0px;
}

input[type="radio"] {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  border: 2px solid white;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 50px;
  text-align: center;
}

.confirm-button {
  background-color: rgba(173, 169, 161, 0.5);
  height: 4rem;
  width: 20rem;
  line-height: 4rem;
  text-align: center;
}

.confirm-button a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}

.cancel-button a {
  text-decoration: none;
  color: rgba(85, 85, 85, 1);
}

@media only screen and (min-width: 320px) {
  .checkout-page {
    width: 320px;
    padding-top: 120px;
  }
  .payement,
  .shipping {
    width: 100%;
    padding: 5px 0px 5px 0px;
  }

  .cardform {
    width: 300px;
  }

  #finame,
  #lname,
  #pnumber,
  #city,
  #expire,
  #security-code {
    width: 100%;
    height: 4rem;
    padding-left: 20px;
    outline: none;
  }

  form .input input,
  select {
    height: 4rem;
    padding-left: 20px;
  }
  form {
    width: 80%;
    padding: 10px;
  }
  #card-info {
    display: none;
    height: 200px;
  }

  #card-info form {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0px;
  }

  input[type="radio"] {
    height: 1.5rem;
    width: 1.5rem;
  }

  .payement,
  .shipping {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-bottom: 1px solid #333;
    width: 100%;
  }
  .payement-card {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .payement img,
  .card-payement-img img,
  .shipping img {
    height: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
  }
  .ship {
    width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .checkout-page {
    padding-top: 150px;
  }
  form {
    width: 580px;
  }
  .payement {
    width: 580px;
  }
  .ship {
    width: 580px;
  }
}

@media only screen and (min-width: 1300px) {
  .payement,
  .shipping {
    width: 1233px;
    padding: 25px 0px 25px 0px;
  }

  .cardform {
    width: 1233px;
  }

  #finame,
  #lname,
  #pnumber,
  #city,
  #expire,
  #security-code {
    width: 616.5px;
    height: 60px;
    padding-left: 20px;
    outline: none;
  }

  .payement,
  .shipping {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-bottom: 1px solid #333;
  }

  .payement-card {
    background-color: #fff;
    width: 1233px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px 0px 25px 0px;
    align-items: center;
  }
  .ship {
    width: 1260px;
  }

  .payement img,
  .card-payement-img img,
  .shipping img {
    height: 3rem;
    display: inline-flex;
    font-size: 16px;
  }

  form {
    width: 1260px;
  }

  form .input input,
  select {
    height: 60px;
    padding-left: 20px;
  }

  input[type="radio"] {
    height: 2.5rem;
    width: 2.5rem;
  }
  #card-info {
    height: 200px;
    padding: 0px 50px 50px 50px;
  }

  #card-info form {
    width: 80%;
  }
}
