/* ------ HOME PAGE ------ */
.homepage {
  width: 100%;
}

.homepage a {
  text-decoration: none;
  color: #333;
}

.front-img {
  padding-top: 3500px;
}

@media only screen and (min-width: 320px) {
  /* ====== HOME PAGE ====== */
  .homepage {
    height: 2000px;
  }

  /* different images depending on screensize, 
  inspiration from https://stackoverflow.com/questions/28966158/changing-image-depending-on-mobile-or-desktop-html-css */
  #img1 {
    display: none;
  }
  #img2 {
    display: block;
  }

  #most-popular {
    display: block;
    width: 100%;
    height: auto;
  }

  .container,
  .container2 {
    display: flex;
  }

  .middle-img {
    padding: 50px 0px 50px 0px;
  }

  .container-opt a img,
  .container-opt2 a img,
  .container-opt a figcaption {
    width: 400px;
    height: auto;
  }
}

@media only screen and (min-width: 600px) {
  .homepage {
    height: 1766px;
  }

  #img1 {
    display: block;
  }
  #img2 {
    display: none;
  }

  .front-img img {
    top: 0;
    height: auto;
    width: 100%;
  }

  .middle-img a img {
    height: auto;
    width: 100%;
    padding-top: 0px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    align-items: first baseline;
    padding-top: 80px;
  }

  .container-opt a img {
    width: 90%;
  }

  .container-opt a figcaption {
    width: 150px;
    padding-top: 20px;
    font-size: 16px;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 70px;
  }

  .container-opt2 a img {
    width: 80%;
  }

  .container-opt2 figcaption p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1300px) {
  /* ====== HOME PAGE ====== */
  .homepage {
    height: 100%;
  }

  #img1 {
    display: block;
  }
  #img2 {
    display: none;
  }

  .front-img {
    padding-top: 118px;
    width: 100%;
  }

  .middle-img a img {
    height: auto;
    width: 100%;
    padding-top: 80px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    align-items: first baseline;
    padding-top: 80px;
  }

  .container-opt a img {
    width: 455px;
    height: 600px;
  }

  .container-opt a figcaption {
    width: 430px;
    padding-top: 20px;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .container-opt2 a img {
    width: 690px;
    height: 870px;
  }

  .container-opt2 figcaption p {
    font-size: 20px;
  }
}
