/* ------ HOME PAGE ------ */

.homepage a {
  text-decoration: none;
  color: #333;
}

.front-img {
  padding-top: 600px;
}

.middle-img {
  width: 100%;
}

@media only screen and (min-width: 320px) {
  /* ====== HOME PAGE ====== */
  .homepage {
    height: 1000x;
  }

  /* different images depending on screensize, 
  inspiration from https://stackoverflow.com/questions/28966158/changing-image-depending-on-mobile-or-desktop-html-css */
  #img1 {
    display: none;
  }
  #img2 {
    display: block;
    width: 100%;
  }

  .front-img {
    padding-top: 82px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .container-optopt {
    display: flex;
    width: 320px;
    justify-content: center;
    column-gap: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }

  .container-optopt a img {
    width: 150px;
    height: 196.66px;
  }

  .container-optopt a figcaption {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .container-opt a img,
  .container-opt a figcaption {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .container2 {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;

    display: flex;
    justify-content: space-between;
  }

  .container-opt2 a img {
    display: flex;
    width: 120px;
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .homepage {
    height: 100%;
  }

  #img1 {
    display: block;
  }
  #img2 {
    display: none;
  }

  .front-img {
    padding-top: 105px;
  }

  .front-img img {
    width: 100%;
  }

  .middle-img a img {
    height: auto;
    width: 100%;
    padding-top: 0px;
  }

  .container {
    display: flex;
    column-gap: 0px;
    align-items: baseline;
    padding-top: 80px;
    margin: 0;
  }

  .container-optopt {
    display: flex;
    width: 380px;
    justify-content: baseline;
    column-gap: 10px;
    padding-left: 10px;
  }

  .container-optopt a img {
    width: 180px;
    height: 236px;
  }

  .container-optopt a figcaption {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .container-opt a img {
    width: 180px;
    height: 236px;
  }

  .container-opt a figcaption {
    width: 150px;
    padding-top: 20px;
    font-size: 16px;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .container-opt2 a img {
    width: 250px;
  }

  .container-opt2 figcaption p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1300px) {
  /* ====== HOME PAGE ====== */
  .homepage {
    height: 100%;
  }

  #img1 {
    display: block;
  }
  #img2 {
    display: none;
  }

  .front-img {
    padding-top: 105px;
    width: 100%;
  }

  .middle-img a img {
    width: 100%;
    padding-top: 80px;
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: last baseline;
    column-gap: 15px;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container-optopt {
    display: flex;
    width: 820px;
    justify-content: baseline;
    column-gap: 15px;
    padding: 0;
  }

  .container-optopt a img {
    width: 400px;
    height: 524.5px;
  }

  .container-optopt a figcaption {
    padding-top: 20px;
    margin-left: 0;
    width: 400px;
  }

  .container-opt {
    padding-left: 20px;
    height: 700px;
  }

  .container-opt a img {
    width: 400px;
    height: 524.5px;
    display: flex;
    padding: 0;
  }

  .container-opt a figcaption {
    width: 400px;
    padding-top: 20px;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .container-opt2 a img {
    width: 550px;
    height: 693.47px;
  }

  .container-opt2 figcaption p {
    font-size: 20px;
  }
}
