/* ------ POSTERS PAGE ------ */
.intro-posters {
  width: 100%;
  background-color: rgba(201, 200, 198, 1);
}

.intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  height: auto;
}

.posters {
  display: flex;
  justify-content: space-between;
}

.categories-head {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 5px;
}

.sortfilter {
  padding-bottom: 10px;
  font-size: 14px;
}

.categorie_alternatives {
  font-weight: 600;
  font-size: 16px;
  padding-top: 7px;
}

.options p {
  padding-top: 20px;
}
.options img {
  height: 15px;
}

.poster-categories {
  margin-top: 54px;
  margin-bottom: 170px;
  margin-left: 27%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 31px;
  row-gap: 34px;
}

.box {
  background: rgba(255, 255, 255, 1);
  width: 320px;
  height: 418px;
}

.box img {
  width: 320px;
  height: 341px;
}

.box figcaption {
  padding-left: 13px;
}

.box figcaption .artist {
  font-size: 0.9rem;
}

.box figcaption .name {
  font-weight: 600;
}

.arrow {
  width: 12px;
}
@media only screen and (min-width: 320px) {
  /* ====== POSTERS PAGE ====== */
  #categories,
  #intro-img {
    display: none;
  }

  #intro-head {
    display: flex;
    width: 100%;
    padding-top: 100px;
  }

  .box {
    width: 180px;
    height: 310px;
  }
  .box img {
    width: 180px;
    height: 230px;
  }

  .poster-categories {
    margin-bottom: 170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding-right: 50px;
    row-gap: 20px;
  }

  .posters {
  }

  .options p {
    padding-top: 20px;
  }
  .options img {
    height: 15px;
  }

  .box figcaption {
    padding-left: 13px;
  }

  .box figcaption .artist {
    font-size: 0.9rem;
  }

  .box figcaption .name {
    font-weight: 600;
  }

  .arrow {
    width: 12px;
  }
}

@media only screen and (min-width: 600px) {
  /* ====== POSTER PAGE ====== */
  .categories {
    display: none;
  }
  .intro-posters {
    padding-top: 108px;
  }

  .poster-categories {
    margin-top: 54px;
    margin-bottom: 170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    row-gap: 34px;
  }

  .box {
    background: rgba(255, 255, 255, 1);
    width: 350px;
    height: 480px;
  }

  .box img {
    width: 350px;
    height: 390px;
  }

  .box figcaption {
    padding-left: 13px;
  }

  .box figcaption .artist {
    font-size: 0.9rem;
  }

  .box figcaption .name {
    font-weight: 600;
  }
}

@media only screen and (min-width: 1300px) {
  #intro-head {
    display: none;
  }
  #intro-img {
    display: flex;
    width: 100%;
  }

  .intro-posters {
    height: auto;
    padding-top: 118px;
  }
  #categories {
    display: inline-block;
  }

  /* sticky categories  
https://www.youtube.com/watch?v=hPrXq9HLnrk*/
  #categories:not(.sticky) {
    margin-left: 40px;
    position: absolute;
    bottom: 30px;
  }

  .sticky {
    margin-left: 40px;
    position: fixed;
    top: 200px;
  }

  #categorie-alternatives {
    padding-bottom: 20px;
    font-weight: 200;
  }

  .posters {
    margin-top: 20px;
  }

  #categories-head {
    font-weight: 400;
  }

  .options p {
    padding-top: 20px;
  }
  .options img {
    height: 15px;
  }

  .arrow {
    width: 12px;
  }
}
