.grid-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  padding: 150px 100px 50px 100px;
}

.grid-item {
  width: 225px;
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  height: auto;
}

.slide img {
  width: 225px;
  height: auto;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-slide img,
#sticky-img {
  width: 500px;
  height: 600px;
}

#add-to-bag {
  padding: 30px 160px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 160px;
}

#add-to-bag:hover {
  background-color: rgba(217, 217, 217, 1);
}

#t {
  margin-top: 120px;
  margin-left: 0;
}

#v {
  margin-top: 10px;
}

#x {
  font-weight: 600;
  padding-bottom: 5px;
}

#price {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
}

#sizebutton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

#sizebutton:hover {
  background-color: rgba(217, 217, 217, 1);
}

#heart {
  width: 25px;
  height: auto;
  margin-right: 0;
}

.tokyo-heart {
  display: flex;
  align-items: baseline;
}

/* The following 6 lines of code was adapted from https://www.tutorialspoint.com/how-to-show-images-with-a-click-in-javascript-using-html Accessed:2023-12-02 */
.hidden {
  display: none;
}
.visible {
  display: block;
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1300px) {
}
