/* In this CSS file we write the code for all basic functions, for example:
the background color, set font-sizes, header and footer */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {
  background: rgba(226, 226, 226, 1);
  color: #333;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

a:hover {
  font-weight: 600;
}

/* NAVBAR */
/* The following 6 lines was adapted by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_menu Accessed 2023-11-18 */
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav1 p {
  text-align: center;
  background: #333;
  color: rgba(255, 255, 255, 1);
}

.nav2 {
  background: rgba(173, 169, 161, 0.5);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav2 a {
  text-decoration: none;
  color: #333;
}

/* FOOTER */
footer {
  background-color: rgba(217, 217, 217, 1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 463px;
  align-items: center;
  padding-left: 40px;
}

footer a {
  text-decoration: none;
  color: #333;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
.footer-links p {
  line-height: 30px;
}
.footer-links h3 {
  line-height: 50px;
}

.footer-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.icon-column {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 70px;
}

.footer-icons img {
  height: 45px;
}

/* ------ MEDIA QUERIES ------ */
/* Small devices (phones) */
@media only screen and (min-width: 375px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  /* ------ NAVBAR ------ */
  .nav1 p {
    font-size: 10px;
    height: 15px;
    line-height: 15px;
  }
  .nav2 {
    height: 70px;
  }

  .nav2 img {
    height: 19px;
    width: 19px;
  }

  .nav2 a {
    line-height: 70px;
  }

  .pages a {
    padding-right: 40px;
  }

  .logo img {
    width: 5rem;
    height: 3rem;
    padding-top: 10px;
  }

  .icons a {
    padding-left: 50px;
  }

  /* ------ FOOTER ------ */
  footer {
    display: grid;
    grid-template-columns: 1fr;
    height: 757px;
    align-items: center;
  }

  footer a {
    text-decoration: none;
    color: #333;
  }

  .footer-links {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-links p {
    line-height: 20px;
  }
  .footer-links h3 {
    line-height: 50px;
  }

  .footer-icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .icon-column {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-icons img {
    height: 30px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  /* ------ NAVBAR ------ */
  .nav1 p {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
  }
  .nav2 {
    height: 80px;
  }

  .nav2 img {
    height: 23px;
    width: 23px;
  }

  .nav2 a {
    font-size: 1rem;
    line-height: 79px;
  }

  .pages a {
    padding-right: 40px;
  }

  .logo img {
    width: 5rem;
    height: 3rem;
    padding-top: 10px;
  }

  .icons a {
    padding-left: 50px;
  }
}
/* Larger devices (computers and desktops) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  /* ------ NAVBAR ------ */
  .nav1 p {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
  }
  .nav2 {
    height: 80px;
  }

  .nav2 img {
    height: 23px;
    width: 23px;
  }

  .nav2 a {
    font-size: 1rem;
    line-height: 79px;
  }

  .pages a {
    padding-right: 50px;
  }

  .logo img {
    width: 5rem;
    height: 3rem;
    padding-top: 10px;
  }

  .icons a {
    padding-left: 50px;
  }
}
