/* In this CSS file we write the code for all basic functions, for example:
the background color, set font-sizes, header and footer */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html {
  background: rgba(226, 226, 226, 1);
  color: #333;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

/* NAVBAR */
nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav1 p {
  font-size: 14px;
  text-align: center;
  height: 38px;
  line-height: 38px;
  background: #333;
  color: rgba(255, 255, 255, 1);
}

.nav2 {
  background: rgba(173, 169, 161, 0.5);
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.nav2 a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  line-height: 79px;
}

.nav2 img {
  height: 23px;
  width: 23px;
}

.pages a {
  padding-right: 50px;
}

.icons a {
  padding-left: 50px;
}

/* FOOTER */
footer {
  background-color: rgba(217, 217, 217, 1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 463px;
  align-items: center;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
.footer-links p {
  line-height: 30px;
}
.footer-links h3 {
  line-height: 50px;
}

.footer-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.icon-column {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 70px;
}

.footer-icons img {
  height: 45px;
}
