/* ------ THANK YOU PAGE ------ */
.thanx {
  height: 100%;
  width: 100%;
}
.thax h1 {
  line-height: 70px;
}
.thanx h3 {
  line-height: 60px;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1300px) {
}
